body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background-image: url("../../assets/images/home.jpg"); */
    background-size: cover;
    background-position: center;
    min-height: 75vh;
}
.active {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: red;
  color: white;
}

nav .active:hover {
  color: white;
}

@media only screen and (min-width: 768px) {
  nav ul {
      margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  nav ul {
      margin-top: 0;
      margin-left: 200px;
      gap: 30px;
  }
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-left: 125px;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  color: red;
}

.profile {
  margin-left: 150px;
}

.logo {
  margin-right: 20px;
}